.control
	&__content
		max-width 975px

	&__title
		&:before
			content none

	&__title
		span
			color #f1ab08

	&__text
		margin-top 30px
		color #979797
		font 18px 'GPro-R'

.control-level
	padding-top 60px
	background: #fff url(../images/advan.jpg) no-repeat top right
	height 683px
	background-position: 50vw 0

	&__container
		max-width 680px

	&__content
		margin-top 60px

.control-level-item
	padding-left: 35px
	position: relative
	margin-bottom 30px
	text-align left

	&:before
		content ''
		position: absolute
		top 0
		left 0
		size(20px)
		background: url(../images/check.png) no-repeat

	&__title
		font 25px 'GPro-M'

	&__text
		margin-top 15px
		line-height: 1.3
		font 16px 'GPro-R'
		color #848484

+below(790px)
	.control-level
		background: white
		height auto
		padding-bottom 30px

	.control-level-item__title
		font-size 21px

