mixin control()
	+b.control&attributes(attributes)
		.container
			+e.content
				+e.H2.title.title
					span 6 из 10
					| наших клиентов начинают знакомство со слов о том, что у них уже есть негативный опыт сотрудничества с другими ремонтными компаниями.
				+e.P.text Так происходит из-за огромной пропасти между дешевыми, непрофессиональными частниками и крупными, дорогими фирмами. Мы другие. Мы здесь, чтобы заполнить собой этот пробел, обеспечивая максимальный баланс между ценой и качеством.

	+b.control-level
		.container
			+e.container
				h2.title 5 уровней контроля качества

			+e.content
				+b.control-level-item
					+e.H3.title Главный инженер из офиса
					+e.P.text Контроль качества и ведение сметно-договорной документации прорабами

				+b.control-level-item
					+e.H3.title Начальник отдела технического контроля, как из
						br
						| офиса так и на выезде.
					+e.P.text Решение вопросов с клиентами и разрешение затруднений во время работ

				+b.control-level-item
					+e.H3.title Специалист технического контроля, выезд
						br
						| на объекты.
					+e.P.text Объезд действующих объектов и контроль качества на месте

				+b.control-level-item
					+e.H3.title Прораб на объекте
					+e.P.text Постоянный контроль за объектом и коммуницирование с заказчиком

				+b.control-level-item
					+e.H3.title Клиент-менеджер из офиса
					+e.P.text Еженедельный обзвон клиентов и опрос о качестве и порядке производства работ на объекте



