mixin calc()
	+b.calc&attributes(attributes)
		.container
			.calc-img
			+b.calc-form
				+e.top-part
					+e.H2.title Калькулятор ремонта

					+e.content-top.active(data-type='flat')
						+e.fields
							.calc-input.select-input.base-input
								select.base-input.select(name='build' required data-placeholder='Комната' for='calc1')
									option(value='Комната') Комната
									option(value='Квартира') Квартира
									option(value='Дом') Дом
							.ni-wrapper
								input.base-input.calc-input.ni(type="number" name='metr' required placeholder='Введите метраж' value='1' for='calc1')

							.calc-input.select-input.base-input
								select.base-input.select.type-select(name='type' data-placeholder='Косметический квартира' required for='calc1')
									option(value='Косметический') Косметический
									option(value='Капитальный') Капитальный
									option(value='Ремонт под ключ') Ремонт под ключ

							+e.P.sign
								span Косметический ремонт
								| - ремонт, предполагающий выполнение
								| демонтажных и чистовых работ помещения
								| (без выравнивания стен).

				+e.content
					+e.content-bottom.active(data-type='room')
						+e.bottom-part
							+e.prices
								+b.type-price
									+e.H4.title Стоимость
										br
										| ремонта:

									+e.P.price#end-price 1490 .-

								//- +b.type-price
								//- 	+e.H4.title Стоимость черновых
								//- 		br
								//- 		| материалов:

								//- 	+e.P.price от
								//- 		span#base-price  1 073.-

								+b.type-price
									+e.H4.title Примерные
										br
										| сроки ремонта:

									+e.P.price Дней:
										span#days  0

					form(action="" method='post' id="calc1")
						+e.form
							input(type="hiddden" name="form" value="Калькулятор расчета")
							.calc-input.base-input-wrapper.phone
								input.base-input(type="tel" name='phone' placeholder='Введите телефон' required)
							button.base-btn.y-btn.calc-input(type='submit')
								span Пригласить специалиста



