mixin actions()
	+b.actions&attributes(attributes)
		.container
			+e.container
				+e.place
					+e.content
						+e.H2.title 
							span Акция
							br
							| «Расскажи о нас»

						+e.P.text  Оставьте правдивый отзыв в 
							| интернете о работе нашей компании с
							|  фотографиями Вашего ремонта и 
							| получите скидку 5%. О своем желании поучаствовать в акции «Расскажи о нас» необходимо сообщить замерщику до заключения договора.

						+e.BUTTON.btn.base-btn.y-btn
							span Участвовать    
