.actions
	background url(../images/baction.png) no-repeat top center
	background-size cover
	height 796px

	.container
		height 100%

.actions
	&__container
		height 100%
		position relative

	&__place
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		padding 56px 67px 90px 67px
		max-width 790px
		width 100%
		background: white

	&__title
		font 35px 'GPro-B'
		line-height: 1.3

		span
			color #f1ab08

	&__content
		text-align: center
		width: 100%
		margin-x(auto)

	&__text
		margin-top 20px
		font 18px 'GPro-R'
		line-height 1.2
		color: #3D3D3D

	&__btn
		margin-top 45px
		margin-x(auto)
