mixin actions()
	+b.actions&attributes(attributes)
		.container
			+e.container
				+e.place
					+e.content
						+e.H2.title
							span Акция
							br
							| «Натяжной потолок в подарок»

						+e.P.text  При заказе "под ключ" квартиры, натяжной потолок в подарок!  Вам будет представлено несколько поставщиков натяжных потолков и Вы можете выбрать любой. Натяжной потолок во всю квартиру не превышающий общей площади 100 кв.м

						//- +e.BUTTON.btn.base-btn.y-btn
						//- 	span Участвовать
