mixin map()
	+b.map&attributes(attributes)
		.container
			+e.container
				+b.map-info
					h2.title Наши координаты
					+e.content
						+b.map-item
							+e.img
								img(src="assets/images/location.png", alt="")
							+e.H3.title Адрес главного офиса:
							+e.P.text г.Новосибирск,
								br
								| Ватутина 40/1

						+b.map-item
							+e.img
								img(src="assets/images/phone.png", alt="")
							+e.H3.title Телефон:
							+e.A.text(href='tel: +73833315554') +7 383 331 55 54
							+e.A.text(href='tel: +79039315554') +7 903 931 55 54


						+b.map-item
							+e.img
								img(src="assets/images/mail.png", alt="")
							+e.H3.title E-mail:
							+e.A.text(href='mailto:tr3315554@gmail.com') tr3315554@gmail.com

						+b.map-item
							+e.img
							+e.H3.title Социальные сети:
							+e.social
								a(href="https://vk.com/public187939897" target="_blank" rel="noopener") https://vk.com/public187939897

								a(href="https://www.facebook.com/groups/2491444784507513/" target="_blank" rel="noopener") https://www.facebook.com/groups/2491444784507513/


				+b.map-img#map

