mixin map()
	+b.map&attributes(attributes)
		.container
			+e.container
				+b.map-info
					h2.title Наши координаты
					+e.content
						+b.map-item
							+e.img
								img(src="assets/images/location.png", alt="")
							+e.H3.title Адрес главного офиса:
							+e.P.text г.Новосибирск, 
								br
								| м.Площадь Гарина-Михайловского
								br
								| Комсомольский пр-т 24, этаж 7, офис 16

						+b.map-item
							+e.img
								img(src="assets/images/phone.png", alt="")
							+e.H3.title Телефон:
							+e.A.text(href='tel: +73833122872') +7 (383) 312-28-72

						+b.map-item
							+e.img
								img(src="assets/images/mail.png", alt="")
							+e.H3.title E-mail:
							+e.A.text(href='mailto:novosib@studia-remontov.ru') novosib@studia-remontov.ru


				+b.map-img#map

