mixin examples()
	+b.examples&attributes(attributes)
		.container
			h2.title Примеры наших ремонтов

			button.ea-l
			button.ea-r
			+e.slider.example-slider
				.slider-item
					+b.example-item
						+e.img
							img(src="assets/images/e1.jpg", alt="")

						+e.content
							+e.H3.title Ремонт комнаты 19 м2 под ключ

							.example-s-item
								h4.example-s-title Виды работ:

								ul.example-list-work
									li Демонтаж ламината
									li Снятие обоев
									li Демонтаж электрики
									li Снятие побелки
									li Частичная штукатурка стен и потолка
									li Шпаклевка стен и потолка
									li Устройство наливного пола
									li Штробление и прокладка электрики
									li Оклейка стен обоями
									li Окраска потолка
									li Укладка паркетной доски
									li Установка плинтуса
									li Установка электрики
									li Установка кондиционера

							.example-s-item
								h4.example-s-title Срок исполнения:
									span.example-s-text 14 дней

							.example-s-item
								h4.example-s-title Стоимость работ:
									span.example-s-text 67 800 рублей

							.example-s-item
								h4.example-s-title Цена материала:
									span.example-s-text 33 700 рублей

				.slider-item
					+b.example-item
						+e.img
							img(src="assets/images/e1.jpg", alt="")

						+e.content
							+e.H3.title Ремонт комнаты 555 м2 под ключ

							.example-s-item
								h4.example-s-title Виды работ:

								ul.example-list-work
									li Демонтаж ламината
									li Снятие обоев
									li Демонтаж электрики
									li Снятие побелки
									li Частичная штукатурка стен и потолка
									li Шпаклевка стен и потолка
									li Устройство наливного пола
									li Штробление и прокладка электрики
									li Оклейка стен обоями
									li Окраска потолка
									li Укладка паркетной доски
									li Установка плинтуса
									li Установка электрики
									li Установка кондиционера

							.example-s-item
								h4.example-s-title Срок исполнения:
									span.example-s-text 14 дней

							.example-s-item
								h4.example-s-title Стоимость работ:
									span.example-s-text 67 800 рублей

							.example-s-item
								h4.example-s-title Цена материала:
									span.example-s-text 33 700 рублей
