mixin video()
	+b.video&attributes(attributes)
		.container
			h2.title Видео-отзывы о выполненных проектах
			+e.content
				+b.video-item
					+e.H3.title-text Капитальный ремонт санузла 
						br
						| 4 кв.м.

					+e.P.text.name Заказчик: Дмитрий
					+e.video
						img(src="assets/images/vexam.jpg", alt="")
						+e.BUTTON.play-btn

					+e.H4.title-text Выполненные работы:
					+e.P.text.desc Снятие старых покрытий, 
						| штукатурка стен по маякам, 
						| укладка плитки на пол, 
						| облицовка плиткой стен, 
						| установка натяжного потолка, 
						| монтаж электрики, установка сантехники.

				+b.video-item
					+e.H3.title-text Капитальный ремонт санузла 
						br
						| 4 кв.м.

					+e.P.text.name Заказчик: Дмитрий
					+e.video
						img(src="assets/images/vexam.jpg", alt="")
						+e.BUTTON.play-btn

					+e.H4.title-text Выполненные работы:
					+e.P.text.desc Снятие старых покрытий, 
						| штукатурка стен по маякам, 
						| укладка плитки на пол, 
						| облицовка плиткой стен, 
						| установка натяжного потолка, 
						| монтаж электрики, установка сантехники.

