html
body
  overflow-x hidden
  font-size 16px
  color #000

h1
h2
h3
h4
p
span
  line-height 1.2

a,
button
  cursor pointer
  border none
  outline none
  text-decoration none
  cursor pointer
  background transparent
  display inline-block
  color #fff
  line-height 1.2

input,
button
  outline none
  border none

input
  &::-webkit-input-placeholder
    color #000
  &::::-moz-placeholder
    color #000
  &:::-moz-placeholder
    color #000
  &:::-ms-input-placeholder
    color #000

img
  max-width 100%
  height auto
  display block

ul
  margin 0
  padding 0

.container
  max-width 1230px
  margin-left auto
  margin-right auto
  position relative
  padding-x(30px)

.title
  font 35px 'GPro-B'
  color rgb(11, 11, 11)
  position relative
  z-index 2

  &:before
    content ''
    position absolute
    left -17px
    top 27px
    width 169px
    height 13px
    background-color: rgb(241, 171, 8)
    z-index -1

.base-btn
  display block
  width 242px
  height 63px
  border-radius 5px
  text-align  center
  position relative
  text-align center
  transition all .3s ease

  span
    display block
    width 160px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -43%)
    font 15px 'GPro-M'
    color white
    line-height 1.5
    text-transform uppercase
    transition all .3s ease

.y-btn
  box-shadow 0px 5px 0px #e59701
  background rgb(240,162,8)
  background linear-gradient(0deg, rgba(240,162,8,1) 0%, rgb(249, 213, 8))

  &:hover
    box-shadow 0px 1px 0px #e59701

.g-btn
  box-shadow 0px 5px 0px #6b6767
  background #8d8d8d
  background: linear-gradient(0deg, #060606 0%, #989592)

  &:hover
    box-shadow 0px 1px 0px #6b6767

.select-input
	width: 100%
	position: relative
	padding-left 0 !important
	text-align: left

	&:before
		content ''
		position: absolute
		top 50%
		right 20px
		transform translate(0, -50%)
		width: 13px
		height 7px
		background: url(../images/da.png) no-repeat top center
		z-index 100

	span
		padding-left: 22px
		display block
		width 100%
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -43%)
		font 16px 'GPro-R'
		color black

	.chosen-container
		height 100%

	.chosen-container-single
		.chosen-single
			border none
			height 100%
			border-radius 6px
			width 100%
			background: white

	.chosen-container
		.chosen-drop
			border 1px solid rgba(#b4b4b4, 0.3)

	.chosen-container
		.chosen-results li.highlighted
				background: #e59701

		.chosen-results
			span
				display none
