@font-face
  font-family 'GPro-B'
  src url("../fonts/GothamPro-Bold.woff")
  font-style normal

@font-face
  font-family 'GPro-R'
  src url("../fonts/GothamPro.woff")
  font-style normal

@font-face
  font-family 'GPro-M'
  src url("../fonts/GothamPro-Medium.woff")
  font-style normal

@font-face
  font-family 'GPro-L'
  src url("../fonts/GothamPro-Light.woff")
  font-style normal

@font-face
  font-family 'GPro-Black'
  src url("../fonts/GothamPro-Black.woff")
  font-style normal

