mixin principles()
	+b.principles&attributes(attributes)
		.container
			h2.title Принципы нашей работы

			.principles-row
				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/006-calculator.png', alt='')
					+e.content
						+e.P.text Выезд замерщика и
							br
							| расчет сметы
							br
							| совершенно БЕСПЛАТНО

				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/002-clock.png', alt='')
					+e.content
						+e.P.text Расчёт сметы за 30 минут, не выходя с объекта

				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/001-money.png', alt='')
					+e.content
						+e.P.text Мы не берём предоплаты

			.principles-row
				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/005-truck.png', alt='')
					+e.content
						+e.P.text Организуем доставку материалов по ценам
							br
							| производителей или
							br
							| используем ваши материалы

				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/004-secure-shield.png', alt='')
					+e.content
						+e.P.text Гарантия до 5-ти лет
							br
							| на все виды работ

				+b.face-advan
					+e.img
						.face-advan-img-outer
						.face-advan-img-inner
							img(src='assets/images/004-like.png', alt='')
					+e.content
						+e.P.text Благодаря этому,
							br
							| осуществляем качественный
							br
							| и недорогой ремонт
							br
							| всех типов
