.principles
	background #fbfbfb
	padding-top 85px
	padding-bottom 95px

.principles-row:first-child
	margin-top 100px

.principles-row
	margin-top 80px
	display flex
	justify-content space-between
	align-items center

	.face-advan
		max-width 345px
		width 100%

	.face-advan__content
		height 185px
		padding-x(20px)