extends /blocks/layout-default/layout-default

include /blocks/face/face
include /blocks/service/service
include /blocks/credit/credit
include /blocks/feedback/feedback

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+face
	+service
	+credit
	+feedback
