extends /blocks/layout-default/layout-default

include /blocks/face/face
include /blocks/service/service
include /blocks/credit/credit
include /blocks/feedback/feedback
include /blocks/form1/form1
include /blocks/form2/form2
include /blocks/ouradv/ouradv
include /blocks/examples/examples
include /blocks/actions/actions
include /blocks/video/video
include /blocks/linfo/linfo

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+face
	+service
	+credit
	+feedback
	+form1
	+form2
	+ouradv
	+examples
	+actions
	+video
	+linfo
