extends /blocks/layout-default/layout-default

include /blocks/face/face
include /blocks/service/service
include /blocks/credit/credit
include /blocks/feedback/feedback
include /blocks/form1/form1
include /blocks/form2/form2
include /blocks/ouradv/ouradv
include /blocks/examples/examples
include /blocks/actions/actions
include /blocks/video/video
include /blocks/linfo/linfo
include /blocks/map/map
include /blocks/schema/schema
include /blocks/masters/masters
include /blocks/control/control
include /blocks/header/header
include /blocks/footer/footer
include /blocks/principles/principles
include /blocks/calc/calc
include /blocks/scripts/scripts

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	+header
	+face
	+form1
	+service
	+calc
	//- +credit
	+masters
	+control
	+ouradv
	//- +examples
	+form2
	//- +video
	+principles
	//- +linfo
	+schema
	+actions
	+feedback
	+map
	+footer
	+scripts([
			'//api-maps.yandex.ru/2.1/?lang=ru_RU',
			'app.min.js'
	])
