mixin form1()
	+b.form1&attributes(attributes)
		.container
			+e.container
				+b.base-form
					+e.content
						+e.H2.title Закажите
							span  БЕСПЛАТНУЮ
							br
							| оценку стоимости работ
							br
							|  и наш специалист посчитает ее
							span  за 30 мин.

						+e.form
							form(action='' method='post')
								.base-input-wrapper.name
									input.base-input(type="text" name='name' placeholder='Ваше имя')
								.base-input-wrapper.phone
									input.base-input(type="tel" name='phone' placeholder='Введите телефон')
								button.base-btn.y-btn(type='submit')
									span Заказать оценку стоимости

						+e.P.sign * Оставляя заявку Вы даете
							| согласие на обработку своих персональных данных.
							br
							| Ваши данные не будут переданы 3м лицам.
