.credit
	background #fbfbfb
	padding-y(100px)

	&__block
		box-shadow 0.418px 3.978px 46px rgba(45,45,45,0.04)
		background-color #ffffff

.credit-block
	display  flex
	justify-content space-between
	align-items flex-start

	&__info
		max-width 680px
		width 100%
		padding 75px 65px 60px 65px


	&__img
		max-width 490px
		width 100%
		border-top-right-radius: 6px
		background url(../images/cr.png) no-repeat
		size(100%)
		height 440px
		display flex

.credit-block-info
	&__pay
		margin-top 50px
		display flex
		justify-content space-between
		max-width 530px
		width 100%

	&__adv
		margin-top 55px

.credit-info-pay
	&__title
		font 45px 'GPro-Black'
		color #f1ab08

	&__text
		margin-top 15px
		font: 18px 'GPro-M'
		color #0b0b0b

.credit-info-adv-item
	margin-bottom 25px
	font 18px 'GPro-M'
	position relative
	padding-left 27px

	&:before
		content ''
		position absolute
		top 0
		left 0
		size(20px)
		background url(../images/check.png) no-repeat

	&:last-child
		margin-bottom 0

.credit-img__text
	margin auto
	position relative
	bottom 15px
	text-align center
	color #fefefe
	font 45px 'GPro-Black'

+below(1160px)
	.credit-block__info
		.title
			font-size 28px

	.credit-info-pay__title
		font-size: 34px

+below(996px)
	.credit-block-info__pay
		flex-direction column
		justify-content: center
		align-items: center

	.credit-info-pay
		margin-bottom 15px

	.credit-info-pay__text
		margin-top: 7px

+below(776px)
	.credit-block
		flex-direction column
		justify-content center
		align-items center

		&__info
			order 2
			padding-y(40px)

		&__img
			padding-top 40px
			background: none
			height: auto
			order 1

	.credit-img__text
		color black
		border-bottom 1px solid black

	.credit-info-adv-item
		display: inline-block

		&:before
			top -3px
