mixin face()
	+b.face.face-wrapper
		.face-content
			.container
				+e.content
					+e.H1.title Ремонт квартиры
						br
						| в Новосибирске
						br
						| от 1499 руб./кв.м
					+e.P.text Замерщик бесплатно приедет к вам в течение 24 часов.
						br
						| Начнём работу на следующий день.

				+b.face-advantages
					+b.face-advan
						+e.img
							.face-advan-img-outer
							.face-advan-img-inner
								img(src='assets/images/001-money.png', alt='')
						+e.content
							+e.P.text Без предоплат

					+b.face-advan
						+e.img
							.face-advan-img-outer
							.face-advan-img-inner
								img(src='assets/images/002-clock.png', alt='')
						+e.content
							+e.P.text Исполнение сроков или бесплатно

					+b.face-advan
						+e.img
							.face-advan-img-outer
							.face-advan-img-inner
								img(src='assets/images/003-wallpaper.png', alt='')
						+e.content
							+e.P.text Материалы по цене производителя

					+b.face-advan
						+e.img
							.face-advan-img-outer
							.face-advan-img-inner
								img(src='assets/images/004-secure-shield.png', alt='')
						+e.content
							+e.P.text Гарантия и сервисное обслуживание
