mixin face()
	+b.face.face-wrapper
		.face-content
			.container
				+e.content
					+e.H1.title Ремонт комнаты в Новосибирске от 1490 руб./кв.м
					+e.P.text Выезд замерщика в день обращения. 
						br
						| Начало работ на следующий день.

				+b.face-advantages
					+b.face-advantage
						+e.img
							.face-adv-img-outer
								+b.face-adv-img-inner
									+e.img
										img(src='assets/images/001-money.png', alt='')
		
						+e.content
							+e.P.text Без отселения и предоплаты


