.face-wrapper
	background url(../images/face.png) no-repeat top center 
	height 910px

.face-content
	padding-top 290px

.face
	&__content
		max-width 380px
		width 100%

	&__title 
		font 50px 'GPro-Black'

	&__text
		margin-top 35px
		font 18px 'GPro-R'
		color #878686

.face-advantages
	margin-top 150px
	display flex
	justify-content space-between
	align-items center

.face-advantage
	width 255px
	position relative

	&__img
		display block

	&__content
		width 100%
		border-radius 6px
		text-align center
		display flex

	&__text
		margin auto
		padding-top 2px
		font 18px 'GPro-M'

