mixin feedback()
	+b.feedback&attributes(attributes)
		.container
			h2.title Отзывы наших клиентов

			button.fa-l
			button.fa-r
			+e.slider.review-slider
				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Константин
								+e.P.text У нас был дизайн-проект, а за ремонтом по нему обращались в Территория Ремонта. Вопросов по материалам,по стоимости,по изменению сметы не встал-оказывается,очень удобная штука дизайн-проект-всё просчитано до мелочей.Качеством выполненных работ остались довольны я и жена.Вопросов к Прорабу Виктору и бригаде-нет.
									br
									span г.  Новосибирск

				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Виктор и Ева
								+e.P.text По рекомендации друзей, обратились в Территорию ремонта для того , чтобы нам сделали ремонт квартиры. Сразу скажу о маленьком недочете - немного не вписались в срок. Считаю,что это отговорки,что штукатурка должна сохнуть так долго!А теперь о положительных сторонах. Ремонт везде сделали чисто, всегда убирали за собой. На то время когда нужно было выполнять шумные работы, рекомендовали, мне с ребенком, ходить гулять. Настолько большие умнички рабочие! Конечно же я на это время выходила. По ценнику -средние.Понравились прораб Вася и его рабочие(они у нас работали).
									br
									span г.  Новосибирск

				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Самсонов Виктор
								+e.P.text  Делали ремонт квартиры с Территорией ремонта на ул Бориса Богаткова.Ремонтом остался очень доволен.Двушка, новостройка без изысков. Всё спокойно, без нервов, по намеченному сценарию) Приятные, вежливые, профессиональные как эксперты-технологи, так и рабочии. Цены- среднерыночные, по некоторым позициям дороже, по некоторым дешевле. Закупают сами материалы по потовым ценам- сравнивал со своими, так и есть.Сотрудничать было приятно и ненапряжно, а это главное.
									br
									span г.  Новосибирск

				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Асхат
								+e.P.text Всем Салам. Огромное спасибо за решение моей нестандартной задачи. Живу в Саранске. Квартиру мне надо было отремонтировать в Новосибирске под сдачу дистанционно. Старый дом- крохотная двушка. Ребята не только мне все грамотно рассчитали и сделали. Но и помогли с закупкой не только черновых, но и чистовых!!! материалов. И помогли с мебелью. В Общем под ключ для сдачи.Поэтапные работы принимал по скайпу. В Новосиб приезжал только на приемку квартиры. 
									br
									span г.  Новосибирск

				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Алексей
								+e.P.text Здравствуйте. В этой компании я построил свой первый загородный дом с нуля в Марусино. Фундамент, возведение, внутрення отделка и параллельно с ней забор и благоустройство.. Был уверен, что выхвачу геморроя в любом случае и рассчитывал просто на его наименьшую болезненность. Что самое удивительное- первые и единственные разногласия у нас возникли на этапе забора, а точнее ворот. Что считаю не очень существенным. В целом остался очень доволен. Зимой 18-19 гг разработали проект, в марте начали работы. Неделю назад закончили. ПОЛНОСТЬЮ! Отдельное спасибо их руководителю производства. Всем рекомендую. Оставляю данный отзыв в трезвом уме и светлой памяти, не под пытками.
									br
									span г.  Новосибирск

	+b.feedback-form
		+e.img

		.container
			+e.content
				h2.title Оставляя отзыв о нашей компании, Вы помогаете Нам стать лучше
				+e.P.text.review-item__text Мы ценим свою репутацию и гордимся качеством выполненных работ.
					| Поэтому, если у Вас есть какие-либо претензии к качеству работы любого нашего сотрудника -
					| большая просьба сообщить нам об этом. Будем рады услышать от Вас предложения, пожелания, замечания, благодарности.
					|  Ваше мнение имеет для нас большое значение!
				+e.btn-group
					a.base-btn.y-btn(href='/')
						span Поблагодарить

					a.base-btn.g-btn(href='/')
						span Пожаловаться

