.feedback
	padding-y(100px)
	position relative

	&__slider
		margin-top 50px

.fa-l
.fa-r
	margin-top 25px
	width 15px
	height 27px
	position absolute
	top 50%
	transform translate(0, -50%)

.fa-l
	left 0
	background url(../images/fa-l.png) no-repeat

	&:hover
		background url(../images/fa-lh.png) no-repeat

.fa-r
	right 0
	background url(../images/fa-r.png) no-repeat

	&:hover
		background url(../images/fa-rh.png) no-repeat


.review-item
	background #fbfbfb
	display flex
	justify-content space-between

	&__img
		max-width 450px
		width 100%

	&__content
		padding 55px 0 55px 50px
		width 100%
		text-align left

	&__block
		max-width 605px

	&__title
		font 27px 'GPro-B'

	&__text
		margin-top 25px
		font 16px 'GPro-R'
		color #535353
		line-height 1.4

.feedback-form
	position relative
	background #fbfbfb
	min-height 635px

	&__img
		position absolute
		left -12%
		top 0
		width 930px
		height 635px
		background url(../images/fimg.jpg) no-repeat top center


	&__content
		max-width 530px
		position absolute
		top 0
		right 0
		padding-y(90px)

	&__text
		margin-top 30px

	&__btn-group
		margin-top 35px
		display flex
		justify-content space-between
