mixin feedback()
	+b.feedback&attributes(attributes)
		.container
			h2.title Отзывы наших клиентов

			button.fa-l
			button.fa-r
			+e.slider.review-slider
				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Валентина, 39 лет
								+e.P.text Всем доброго дня, решила сделать ремонт в новостройке,
									| квартира небольшая но уютная, вызвала три компании,
									| по ценам понравилась студия ремонтов все сделали
									| нормально и в срок что очень важно для меня,
									| я снимала квартиру в это время, также просчитали
									| и закупили весь материал.
									| Прораб Вячеслав даже ездил со мной по магазинам и
									| выбирал плитку и все остальное. Фирма мне понравилась !
									| Согласилась на Акцию «Покажи ремонт» и получила еще
									| пять процентов скидку. Так что прошу в гости все покажу
									| и расскажу подробнее.

				.slider-item
					+b.review-item
						+e.img
							img(src="assets/images/rev.png", alt="")

						+e.content
							+e.block
								+e.H3.title Валентина, 39 лет
								+e.P.text Всем доброго дня, решила сделать ремонт в новостройке,
									| квартира небольшая но уютная, вызвала три компании,
									| по ценам понравилась студия ремонтов все сделали
									| нормально и в срок что очень важно для меня,
									| я снимала квартиру в это время, также просчитали
									| и закупили весь материал.
									| Прораб Вячеслав даже ездил со мной по магазинам и
									| выбирал плитку и все остальное. Фирма мне понравилась !
									| Согласилась на Акцию «Покажи ремонт» и получила еще
									| пять процентов скидку. Так что прошу в гости все покажу
									| и расскажу подробнее.
	+b.feedback-form
		+e.img

		.container
			+e.content
				h2.title Вы довольны ремонтом?
					br
					| Скажите: «Спасибо!», нам
					br
					| будет приятно
				+e.P.text.review-item__text Мы компания, которая заботится о своей репутации. Поэтому, если у Вас есть какие- либо претензии к качеству работы любого нашего сотрудника, будь то диспетчер, замерщик, прораб или рабочий – просьба сообщать нам. Будьте уверены, Ваш отзыв попадет в независимый отдел контроля качества, который всегда будет на Вашей стороне!
					| Вместе мы добьемся справедливости и повысим качество
					| ремонтных услуг на новый уровень!
				+e.btn-group
					button.base-btn.y-btn
						span Поблагодарить

					button.base-btn.g-btn
						span Пожаловаться

