mixin schema()
	+b.schema&attributes(attributes)
		.container
			h2.title Схема нашей работы

			+e.content
				+e.line
				.schema-row
					+b.schema-item
						+e.num-back
							+e.P.num 1
						+e.content
							+e.H3.title Звонок или
								br
								| Заявка
							+e.P.text консультация по услугам и материалу

							+e.A.btn.base-btn.scrl-btn.y-btn.scrl-btn(href="#" data-link='form1')
								span Оставить заявку

					+b.schema-item
						+e.num-back
							+e.P.num 2
						+e.content
							+e.H3.title Бесплатный
								br
								| выезд замерщика

					+b.schema-item
						+e.num-back
							+e.P.num 3
						+e.content
							+e.H3.title Подготовка сметы и документации
							+e.P.text Бесплатно, прямо на объекте

				.schema-row
					+b.schema-item
						+e.num-back
							+e.P.num 4
						+e.content
							+e.H3.title Начало работы
							+e.P.text в течении 24-х часов после подписания договора

					+b.schema-item
						+e.num-back
							+e.P.num 5
						+e.content
							+e.H3.title Уборка помещения
							+e.P.text оставим после работы чистоту и порядок

					+b.schema-item
						+e.num-back
							+e.P.num 6
						+e.content
							+e.H3.title Сдача
								br
								| объекта и расчет
							+e.P.text сервисное обслуживание 1 год бесплатно
