.schema
	background: #f7f7f7
	padding-top: 80px
	padding-bottom: 110px

	&__content
		margin-top: 50px
		position relative

	&__line
		width: 100%
		position absolute
		top 0
		left 0
		height 514px
		background: url(../images/schema.png) no-repeat top center

.schema-row
	padding-top: 50px
	max-width: 1095px
	display: flex
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 60px

.schema-row:last-child
	margin-bottom: 0

.schema-item
	position: relative

	&__content
		padding-left: 65px

	&__title
		font 25px 'GPro-B'

	&__num-back
		position: absolute
		top: 0
		left 0
		background: #f4b400
		border-radius: 50%
		size(48px)

	&__num
		position absolute
		top 50%
		left 50%
		font 25px 'GPro-Black'
		color: white
		transform: translate(-50%, -50%)

	&__text
		margin-top: 18px
		margin-bottom: 25px
		font 16px 'GPro-R'
		color #646464

	&__btn
		margin-top 25px
		max-width 245px
		width: 100%

		span
			width 100%

.schema-item:last-child
	left 25px

+below(1245px)
	.schema
		.schema__line
			display: none

	.schema-row
		padding-top: 0
		margin-bottom: 20px

+below(900px)
	.schema
		padding-bottom: 40px
		text-align: center

	.schema-row
		flex-direction: column
		justify-content: center
		align-items: center

	.schema-item
		max-width: 300px
		width 100%
		margin-bottom 20px

		&__content
			padding-left: 0

		&__num-back
			position relative
			left 50%
			transform: translate(-50%, 0)

		&__title
			margin-top 15px

		&__btn
			margin-top 10px
			margin-x(auto)

	.schema-item:last-child
		left 0
