mixin schema()
	+b.schema&attributes(attributes)
		.container
			h2.title Схема нашей работы

			+e.content
				+e.line
				.schema-row
					+b.schema-item
						+e.num-back
							+e.P.num 1
						+e.content
							+e.H3.title Звонок или
								br
								| Заявка
							+e.P.text примерный расчет по телефону

							+e.A.btn.base-btn.scrl-btn.y-btn(href="#" data-link='form1')
								span Оставить заявку

					+b.schema-item
						+e.num-back
							+e.P.num 2
						+e.content
							+e.H3.title Выезд
								br
								| Замерщика
							+e.P.text бесплатно, в течении
								br
								| 24х часов

					+b.schema-item
						+e.num-back
							+e.P.num 3
						+e.content
							+e.H3.title Расчет сметы
								br
								| за 30 мин
							+e.P.text прямо на объекте

				.schema-row
					+b.schema-item
						+e.num-back
							+e.P.num 4
						+e.content
							+e.H3.title Выезд прораба для
								br
								| подписание договора
							+e.P.text бесплатно, в течении
								br
								| 24х часов

					+b.schema-item
						+e.num-back
							+e.P.num 5
						+e.content
							+e.H3.title Ремонт
								br
								| от 5 дней
							+e.P.text 5ти уровеневый контроль
								br
								| качества работ

					+b.schema-item
						+e.num-back
							+e.P.num 6
						+e.content
							+e.H3.title Сдача
								br
								| объекта
							+e.P.text Ваша квартира
								br
								| выглядит по новому
