.header
	padding-top 35px
	padding-bottom 40px
	position: fixed
	top 0
	left 0
	right 0
	background white
	z-index 100
	box-shadow 0px 0px 27px 0px rgba(0, 0, 0, 0.03)

	&__container
		display flex
		justify-content space-between
		align-items center

	&__logo
		width 190px
		position: relative
		z-index 200
		flex-shrink: 0

.header-info
	width: 200px
	flex-shrink: 0

	&__phone
		position: relative
		padding-left: 27px
		font 18px 'GPro-M'
		color #353535

		&:before
			content ''
			position: absolute
			top: 3px
			left: 0
			width: 12px
			height: 12px
			background: url(../images/phone.png) no-repeat

	&__time
		margin-top 7px
		font 14px 'GPro-R'
		color #aaaaaa

.header-info.mob
	display none

.menu
	position relative
	max-width 730px
	width: 100%

.nav
	max-width 730px
	width: 100%
	display flex
	justify-content space-between
	align-items center

	&__link
		padding-x(5px)
		font 16px 'GPro-M'
		color #868686

		&:hover
		&.active
			color black

.menu-btn
	display: none
	width: 26px
	height: 21px
	position: relative
	z-index: 200

	.line
		width: 100%
		height: 3px
		position: absolute
		left: 0
		top: 0
		background: black
		transition: all 0.2s ease
		border-radius: 3px
		z-index: 200

	.line_1
		top 0;

	.line_2
		top 9px

	.line_3
		top 18px

.menu-btn.active
	top 10px

	.line_1
		transform: rotate(45deg)

	.line_2
		opacity: 0

	.line_3
		top 0
		transform: rotate(-45deg)

+below(1176px)
	.header__container
		flex-wrap wrap

	.menu
		max-width 100%
		text-align: center
		margin-top 30px
		order 3

		.nav
			display inline-flex
			max-width 790px

+below(790px)
	.menu-btn
		display: block

	.menu
		display: none
		background: #fff
		position: fixed
		top 0
		left 0
		max-width 100%
		width: 120%
		height: 100vh
		overflow-y: auto
		overflow-x: hidden
		padding: 150px 10px 100px
		z-index 100

	.header__logo
		order 2

	.menu.active
		order 1
		display block

	.nav
		flex-direction: column
		justify-content: center
		align-items: center

		&__link
			margin-bottom 20px

	.header-info
		display none

	.header-info.mob
		display: block
		margin-top 20px
		margin-x(auto)

