.linfo
	padding-y(95px)

	&__slider
		margin-top 60px

.lia-l
.lia-r
	margin-top 25px
	width 15px
	height 27px
	position absolute
	top 50%
	transform translate(0, -50%)

.lia-l
	left 10px
	background url(../images/fa-l.png) no-repeat

	&:hover
		background url(../images/fa-lh.png) no-repeat

.lia-r
	right 10px
	background url(../images/fa-r.png) no-repeat

	&:hover
		background url(../images/fa-rh.png) no-repeat

.slider-item
	text-align center

.linfo-item
	margin-x(auto)
	max-width 260px
	padding 10px
	width 100%
	border-radius 6px
	background-color rgb(244, 244, 244)

	img
		margin auto

