mixin linfo()
	+b.linfo&attributes(attributes)
		.container
			h2.title Юридическая информация о компании

			button.lia-l
			button.lia-r

			+e.slider.linfo-slider
				.slider-item
					.linfo-item
						img(src="assets/images/linfo1.jpg", alt="")

				.slider-item
					.linfo-item
						img(src="assets/images/linfo1.jpg", alt="")

				.slider-item
					.linfo-item
						img(src="assets/images/linfo1.jpg", alt="")

				.slider-item
					.linfo-item
						img(src="assets/images/linfo1.jpg", alt="")

				.slider-item
					.linfo-item
						img(src="assets/images/linfo1.jpg", alt="")

