mixin ouradv()
	+b.ouradv&attributes(attributes)
		.container
			h2.title Наши преимущества

			+e.content
				+b.ouradv-item
					+e.img
						img(src="assets/images/helmlet1.png", alt="")

					+e.H3.title Большой
						br
						| опыт работы

					+e.UL.list
						+e.LI.list-item Делаем ремонтно-отделочные работы с 2009 года
						+e.LI.list-item Знаем все тонкости и нюансы строительного дела
						+e.LI.list-item Вы платите за качественно выполненную работу

				+b.ouradv-item
					+e.img
						img(src="assets/images/helmlet2.png", alt="")

					+e.H3.title Доставка
						br
						| материалов

					+e.UL.list
						+e.LI.list-item Цены на материал
							br
							| от производителей
						+e.LI.list-item Проверенное качество материалов на сотнях объектов
						+e.LI.list-item Доставка материалов в день обращения
						+e.LI.list-item Выкуп оставшегося лишнего материала

				+b.ouradv-item
					+e.img
						img(src="assets/images/helmlet3.png", alt="")

					+e.H3.title Соблюдение
						br
						| сроков

					+e.UL.list
						+e.LI.list-item Работаем в удобное для Вас время
						+e.LI.list-item Сроки прописываются
							br
							| в договоре и испольняются в срок
						+e.LI.list-item Платим штрафы за неисполнение сроков
						+e.LI.list-item Контролируем и проверяем каждый этап работы
