.form2
	background #f8c807
	padding-y(98px)

.form2
	.base-form__content
		max-width 680px
		padding: 0

		.form2-wrapper
			width: 100%
			display flex
			justify-content space-between
			flex-wrap wrap

		.base-input-wrapper
		.base-input
			max-width 320px
			width 100%

		.base-input
			margin-y(10px)

		.base-btn
			margin-x(auto)
			max-width 300px
			width 100%


+below(790px)
	.form2
		.base-form__content
			.form2-wrapper
				justify-content: center
				align-items: center
