mixin form2()
	+b.form2&attributes(attributes)
		.container
			+b.base-form
				+e.content
						+e.H2.title
							span Получите
							| примерный
							span расчет ремонта
							br
							| Вашего помещения

						+e.form
							form(action='' method='post')
								.form2-wrapper
									.calc-input.select-input.base-input
										select.base-input.select(data-placeholder='Вид помещения')
											option(value='Квартира') Квартира
											option(value='Комната') Комната
											option(value='Дом') Дом

									.calc-input.select-input.base-input
										select.base-input.select(data-placeholder='Тип ремонта')
											option(value='Капитальный') Капитальный
											option(value='Косметический') Косметический
											option(value=' Под ключ')  Под ключ

									input.base-input.calc-input.ni(type="text" placeholder='Введите метраж')

									.base-input-wrapper.phone
										input.base-input(type="tel" name='phone' placeholder='Введите телефон')

								button.base-btn.y-btn(type='submit')
									span Получить расчет

						+e.P.sign * Оставляя заявку Вы даете
							| согласие на обработку своих персональных данных.
							br
							| Ваши данные не будут переданы 3м лицам.
