mixin service()
	+b.service#price&attributes(attributes)
		block
		.container
			h2.title Вы можете заказать у нас:

			+e.H3.title Цены ниже среднерыночных

			+e.content
				+b.service-item
					+e.info
						+e.img
							img(src='assets/images/3d1.png' alt='')

						+b.service-info
							+e.H4.title Комплексные
								br
								| ремонты
							+e.P.text (подстроимся под Ваш бюджет)

					+e.content
						+b.service-content
							+e.H4.title Цены (за 1кв.м.):

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Косметический ремонт комнат
										+e.P.price от 1490.-

									+e.P.text (входит: демонтаж существующих покрытий;
										| поклейка обоев; окраска потолков; укладка ламината;
										| монтаж плинтусов)

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Капитальный ремонт комнаты
										+e.P.price от 3350.-

									+e.P.text (входит: демонтаж существующих покрытий; выравнивание пола; частичная штукатурка стен;
										| грунтовка пола, стен и потолка; шпаклевка стен;
										| поклейка обоев; окраска потолков; укладка ламината;
										| монтаж плинтусов)

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Ремонт комнаты под ключ
										+e.P.price от 2790.-

									+e.P.text (входит: демонтаж существующих покрытий;
										| поклейка обоев; окраска потолков;
										| укладка ламината; монтаж плинтусов.
										|  ВСЕ МАТЕРИАЛЫ ВКЛЮЧЕНЫ В СТОИМОСТЬ)

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Евроремонт комнаты
										+e.P.price от 5400.-

									+e.P.text (входит: демонтаж существующих покрытий; стяжка пола;
										| штукатурка стен; выравнивание потолка;
										|  замена электрики; грунтовка пола, стен и потолка;
										| шпаклевка стен и потолка; поклейка обоев;
										| окраска потолков; укладка паркетной доски;
										| монтаж плинтусов; замена батарей;
										| влажная уборка помещения)

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Ремонт ванной комнаты
										+e.P.price от 11750.-

									+e.P.text (входит: демонтаж существующих покрытий;
										| установка панелей; установка реечного потолка;
										| укладка плитки на пол; монтаж кранов)

				+b.service-item
					+e.info
						+e.img
							img(src='assets/images/3d2.png' alt='')

						+b.service-info
							+e.H4.title Отдельные
								br
								| ремонтные работы
							+e.P.text (Все виды услуг)

					+e.content
						+b.service-content
							+e.H4.title Цены:

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Окраска стен
										+e.P.price.m 173.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Поклейка обоев
										+e.P.price.m 173.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Нанесение штукатурки
										+e.P.price.m 292.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Укладка плитки
										+e.P.price.m 677.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Укладка ламината
										+e.P.price.m 292.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Наливной пол
										+e.P.price.m 235.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Выравнивание стен
										+e.P.price.m 244.- за м

							+e.item
								+b.service-content-item
									+e.info
										+e.H4.title Натяжной потолок
										+e.P.price.m 213.- за м

						a.service-btn.base-btn.y-btn(href='')
							span Посмотреть полный прайс





