mixin footer()
	+b.FOOTER.footer&attributes(attributes)
		.container
			.header__container.footer-container
				+e.A.logo
					img(src="assets/images/logo2.png", alt="")

				+b.NAV.nav
					+e.A.link(href='#' data-link='service') Цены
					+e.A.link(href='#' data-link='examples') Наши работы
					+e.A.link(href='.masters' data-link='masters') Мастера
					+e.A.link(href='#' data-link='calc') Калькулятор
					+e.A.link(href='#' data-link='credit') Рассрочка
					+e.A.link(href='#' data-link='feedback') Отзывы
					+e.A.link(href='#' data-link='map') Контакты

				+e.A.btn.base-btn.y-btn(href="/")
					span Обратный звонок

			+b.footer-info
				+e.P.item © 2019 ООО «Студия Ремонтов»
				+e.P.item ИНН: 7743152366, ОГРН: 1167746404517
				+e.P.item Сайт не является публичной офертой и носит информационный характер.

			+b.footer-social
				+e.item
					img(src="assets/images/001-vk-social-logotype.svg", alt="")

				+e.item
					img(src="assets/images/001-vk-social-logotype.svg", alt="")

				+e.item
					img(src="assets/images/001-vk-social-logotype.svg", alt="")

				+e.item
					img(src="assets/images/001-vk-social-logotype.svg", alt="")

				+e.item
					img(src="assets/images/001-vk-social-logotype.svg", alt="")
