mixin masters()
	+b.masters&attributes(attributes)
		.container
				h2.title Наша команда

				button.ma-l
				button.ma-r
				+e.slider.masters-slider
					.slider-item
						+b.master-item
							+e.img
								img(src="assets/images/m1.jpg", alt="")

							+e.content
								+e.H3.title Лучшие работники:
								+e.H4.sub-title Адреенко Николай электромонтажник, опыт 12 лет
									br
									| Штайнбрехер Андрей сантехник, опыт 7 лет
									br
									| Шпирер Александр плиточник, опыт 11 лет
									br
									| Богатырёва Татьяна маляр, опыт 5 лет
									br
									| Самилюк Кирилл отделочник-маляр, опыт 5 лет
									br
									| Воробъёв Николай разнорабочий, опыт 3 года


								+e.skills
									+b.master-skill
										+e.H5.title Направление:
										+e.P.text Плиточник-гипсокартонщик

									+b.master-skill
										+e.H5.title Навыки:
										+e.P.text Монтаж гипсокартона, грунтовка и шпаклёвка гипсокартона, окраска, кладка кафельной плитки, прочие работы.

									+b.master-skill
										+e.H5.title Опыт:
										+e.P.text В компании 5 лет

								+e.P.sign «Качественный ремонт в вашем доме – наша ответственность»


