mixin masters()
	+b.masters&attributes(attributes)
		.container
				h2.title Наша команда

				button.ma-l
				button.ma-r
				+e.slider.masters-slider
					.slider-item
						+b.master-item
							+e.img
								img(src="assets/images/m1.jpg", alt="")

							+e.content
								+e.H3.title Лучшие работники:
								+e.H4.sub-title Адреенко Николай электромонтажник, опыт 12 лет
									span
									| Штайнбрехер Андрей сантехник, опыт 7 лет
									span
									| Шпирер Александр плиточник, опыт 11 лет
									span
									| Богатырёва Татьяна маляр, опыт 5 лет
									span
									| Самилюк Кирилл отделочник-маляр, опыт 5 лет
									span
									| Воробъёв Николай разнорабочий, опыт 3 года


