mixin masters()
	+b.masters&attributes(attributes)
		.container
				h2.title Наша команда

				button.ma-l
				button.ma-r
				+e.slider.masters-slider
					.slider-item
						+b.master-item
							+e.img
								img(src="assets/images/m2.png", alt="")

							+e.content
								+e.H3.title Лучшие работники:
								+e.H4.sub-title
									.text
										span.titl Адреенко Николай
										span.pos  электромонтажник,
										span.ex  опыт 12 лет

									.text
										span.titl Штайнбрехер Анрей
										span.pos  сантехник,
										span.ex  опыт 7 лет

									.text
										span.titl Шпирер Александр
										span.pos  плиточник,
										span.ex  опыт 11 лет

									.text
										span.titl Богатырева Татьяна
										span.pos  маляр,
										span.ex  опыт 5 лет

									.text
										span.titl Воробьев Николай
										span.pos  разнорабочий,
										span.ex  опыт 3 года


